html {
	font-size: 16px;
}
body {
  margin: 0;
  padding: 0;
	font-family: Roboto, 'Helvetica Neue', Helvetica, sans-serif;
	position: relative;
}
#all {
	position: relative;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: stretch;
}
nav.navbar {
	/* border-bottom: 1px solid rgba(0,0,0,0.08); */
	background-color: transparent;
	/* background-color: transparent; */

	box-shadow: none;
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	width: 100%;
}
.navbar-menu {
	box-shadow: none;
}
nav li {
	display: inline-block;
	padding: 0 4px;
	margin: 0 .5rem;
	line-height: 3rem;
}
nav li a.navbar-item {
	/* color: #fff; */
	color: #7f8c8d;
	border-radius: 4px;
	font-weight: 500;
	transition: all 500ms;
}
nav li a.navbar-item:hover {
	/* background-color: rgba(0,0,0,0.08); */
	/* color: #fff; */
	background-color: transparent;
	color: #000;
}
h1 {
	font-size: 2em;
	font-weight: 700;
	text-align: center;
}
h2 {
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	margin-bottom: 1rem;
}
main {
	font-size: 1rem;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	width: 100%;
}
header {
	height: 100%;
	width: 100%;
	display: flex;
	flex: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
header.dark-bg {
	/* background-color: #08AEEA; */
	/* background-image: linear-gradient(0deg, #08AEEA 0%, #2AF598 100%); */
	/* background-color: #0093E9; */
	/* background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);	 */
	background-color: #9b59b6;
	color: #fff;
}
header.header-slim {
	max-height: 240px;
	/* display: block; */
	/* position: relative; */
	/* flex: none; */
}
#search-container {
	max-width: 400px;
	background-color: #fff;
	padding: 2rem 3rem;
}
form input {
	margin: 10px 0;
}
form #submit {
	width: 100%;
}

article {
	display: flex;
	flex-direction: column;
	align-items: center;
	flex: 1;
}
article .feed-wrap {
	max-width: 700px;
	padding: 3rem 2rem;
}
article .box {
	width: 100%;
}
.feed-item {
	position: relative;
}
.feed-item .subrow {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: start;
	align-items: baseline;
}
.feed-item .save-btn {
	flex-basis: 24px;
	color: rgba(0,0,0,0.24);
	font-size: 20px;
}
.save-btn[data-saved="true"], .save-btn[data-saved="true"] i {
	color: #e74c3c;
}
